# https://yarnpkg.com/features/caching#zero-installs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules/

*.tsbuildinfo

.env
.env.remote
.env.test

dist/

.DS_Store

packages/test-utils/database-dump/generated-dumps/
