# Environment Variables for Frontend Development used for both Vite and Docker

# Vite dev server port
VITE_DEV_SERVER_PORT=3000

# In Docker this is the router application URL
# In Vite this is the Vite proxy target URL
APP_BASE_URL=http://localhost:3002

# API base URL
# By default, the API is accessed via the proxy URL
API_BASE_URL=/api/1.0/

APPSIGNAL_KEY=
CAPTCHAFOX_KEY=sk_11111111000000001111111100000000
MAPTILER_KEY=

#CNR_MODE=true
#EXPERIMENTAL_FEATURES=true
